$jaune : #f2a81d;
$vert: #04d94f;
$bleu1: #2561d9;
$bleu2: #0439d9;

$gris1: #262626;
$gris2: #595959;
$gris3: #a6a2a1;
$gris4: #d9d9d9;


$fondGris: #4a4a4a;
$fondClair: #f2f2f2;

$deg1: linear-gradient($vert 20.76%, $bleu1 89.73%);
$deg2: linear-gradient($bleu2 30%, $bleu1 80%);
$deg3: linear-gradient($jaune 23.78%, #f6b721 49.3%, #ffd329 100%);
$deg4: linear-gradient($vert 44.84%, #18ea62 68%, #30ff79 90.89%);


