@charset 'utf-8';


// -------COLOR--------
// .gris4 { background: $gris4; }
.fond-gris {background: $fondGris;}
.fond-clair {background: $fondClair;}

.jaune { background: $jaune;}
.vert { background: $vert;}
.bleu1 { background: $bleu1;}
.bleu2 { background: $bleu2;}

// -------TYPO--------
.text-gris1 { color: $gris1; }
.text-gris2 { color: $gris2; }
.text-gris3 { color: $gris3; }
.text-gris4 { color: $gris4; }
.text-bleu1 { color: $bleu1;}
.text-bleu2 { color: $bleu2;}
.text-vert { color: $vert;}

.text-fin { font-weight: $light;}
.text-normal { font-weight: $normal;}
.text-bold { font-weight: $bold;}
.text-black { font-weight: $black;}

.petit-text { font-size: $level-size*0.1068;}
.petit-text2 { font-size: $level-size*0.125;}

// .titre1 {font-size: $h1;}
// .titre2 {font-size: $h2;}
// .titre3 {font-size: $h3;}
// .titre4 {font-size: $h4;}
// .titre5 {font-size: $h5;}
// .titre6 {font-size: $h6;}

.chiffre-lnum {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}
.chiffre-onum {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
.lettre-smcp {
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}
.insec {
  white-space: nowrap
}

.fixe { position: fixed;}
p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;

  hyphens: auto;

  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



body {
  // Ensure base applied as default for all other elements
  font-size: $type-base-size;
  line-height: 1.5;

  // Demo styles

}
  html {
    font-family: 'neue-kabel', sans-serif;
    font-weight: $normal;
    // font-size: $font-size;
    // word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: $fondClair;
  }
  
  // -------ESPACES--------
  .mt {
    &-1 {
      margin-top: 1.5rem;
    }
    &-2 {
      margin-top: 3rem;
    }
  }

  // -------GENERAL--------
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  *:focus {
    outline: none;
}
  /* note the smaller sizes for mobile */
  // h4 {
  //   font-size: $h6;
  // }
  
  // h3 {
  //   font-size: $h5;
  // }
  
  // h2 {
  //   font-size: $h4;
  // }
  
  // h1 {
  //   font-size: $h3;
  // }

  // .container {
  //   margin: 0 auto;
  //   min-height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  // }
  // .container1 {
  //   @extend .container;
  // }
  // .container-2 {
  //   @include container;
   
  // }
  section {
    padding: 0 10%;
  }
  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--page {
      @extend .container;
      justify-content: flex-start;
    }
  }
  .title {
    display: block;
    font-weight: $bold;
    // font-size: 100px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $gris2;
    letter-spacing: -1px;
    &--footer {
      -webkit-text-stroke-color: $gris4;
      font-weight: $black;
    }
    &--menu {
      -webkit-text-stroke-width: 1px;
    }
  }
  .seepost {
    display: inline-block;
    border: none;
    color: #fff;
    padding: 10px 20px;
    background: $bleu2;
    position: absolute;
    right: 0;
    box-shadow: 1px 1.5px 5px $gris1;
    // box-shadow: 2px 5px 10px 2px $gris1;
    // bottom: -46px;
    width: auto;
    border-radius: 1000px 1000px;
    transition: all 0.25s ease;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    // font-size: 13px;
    &--vert {
      background: $vert;
    }
    &:hover {
      transform: translate3d(5px, 0, 0);
    }
  }

  @media (min-width: 40em) {
    // h4 {
    // font-size: $h4;
    // }
  
    // h3 {
    // font-size: $h3;
    // }
  
    // h2 {
    // font-size: $h2;
    // }
  
    // h1 {
    // font-size: $h1;
    // }
  }